header.appbar-root {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    background-color: var(--color-bg);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1200;
}

.appbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.appbar-title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    background: linear-gradient(
            135deg,
            #5335cf 0%,
            #de005e 25%,
            #f66e48 50%,
            #de005e 75%,
            #5335cf 100%
    );
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    to {
        background-position: 400%;
    }
}
