
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

  :root {
    --color-bg: #ffffff;
    --color-fg: #121212;
    --color-accent: #2279db;
    --color-on-accent: #090909;
    --color-error: #ef5350;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
}

main {
    --vertical-margin: 1.5em;

    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
}
